---
import Base from "../layouts/Base.astro";
import { site } from "../content/site";

const title = `Contact — ${site.name}`;
---

<Base
  title={title}
  description={`Contact ${site.name}`}
  canonicalPath="/contact"
>
  <article class="prose">
    <h1>Contact</h1>

    <address>
      Stichting Bijlboegfonds<br>
      Bovenkade 7<br />
      4797 AT Willemstad<br />
      The Netherlands
    </address>
    
    
    {site.author.email && (
      <p>
        <a href={`mailto:${site.author.email}`}>
          {site.author.email}
        </a>
      </p>
    )}
  </article>
</Base>
